<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{MAP_KEY}}&sensor=true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="jumbotron">
            <h1 class="display-4">Hi there!</h1>
            <p class="lead">Please enter the your location to get the weather data.</p>
        </div>
        <div class="m-t-small">
            <label class="p-r-small col-sm-1 control-label">Lat.:</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" style="width: 110px" id="map-lat" v-model="lat"/>
            </div>
            <label class="p-r-small col-sm-2 control-label">Long.:</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" style="width: 110px" id="map-lon" v-model="lon"/>
            </div>
            <button class="ml-4 mt-3" @click="get_data">Get data</button>
        </div>
        <div class="ml-2" v-if="we_data?.timeseries">
            <p>Air temperature is [[ we_data?.timeseries? we_data?.timeseries[0].data.instant.details.air_temperature: "" ]]</p>
            <p>Wind speed is [[ we_data?.timeseries? we_data?.timeseries[0].data.instant.details.wind_speed: "" ]]</p>
        </div>
        <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4"></script>
    <script src="{% static 'locationpicker.jquery.min.js' %}"></script>
    <script>
        $('#map').locationpicker({
            location: {
                latitude: 46.15242437752303,
                longitude: 2.7470703125
            },
            radius: 300,
            inputBinding: {
                latitudeInput: $('#map-lat'),
                longitudeInput: $('#map-lon'),
                radiusInput: $('#map-radius')
            },
            enableAutocomplete: true,
            onchanged: function (currentLocation, radius, isMarkerDropped) {
                // Uncomment line below to show alert on each Location Changed event
                //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
            }
        });
    </script>
    <script>
        vueApp = new Vue({
            el: "#app",
            delimiters: ["[[", "]]"],
            data() { 
                return {
                    lon: 2,
                    lat: 46,
                    we_data: {},
                }
            },
            methods: {
                get_data() {
                    var self = this;
                    url = "http://localhost:8000/get_data/?lon=" + self.lon;
                    url += "&lat=" + self.lat;
                    $.ajax({
                        type: "GET",
                        url: url,
                        crossDomain: true,
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json",
                        },
                        success: function (response) {
                            console.log(JSON.parse(response).data)
                            self.we_data = JSON.parse(response).data;
                            self.$forceUpdate();
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>